spring:
  application:
    name: config
  cloud:
    config:
      server:
        git:
          uri: https://github.com/longfeizheng/spring-cloud-sell
          username: i@merryyou.cn
          password:
          search-paths: config-repo
#          basedir:
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
